version: '3.8'
#==================================================================================================
#==================================================================================================
services:
  ################################################################################################
  thermostat_2_mqtt_bridge:
    build: .
    image: rtzan/thermostat_2_mqtt_bridge:1.0.0
    environment:
      "BRIDGE.TARGET_ENV": "dev"
    volumes:
      - ./:/app:cached
    ports:
      - "18000:18000"
    command: [ "python", "moes_thermostat_2_mqtt_bridge.py" ]
#==================================================================================================
#==================================================================================================