#version: '3.8'
#==================================================================================================
#==================================================================================================
services:
  ################################################################################################
  thermostat_2_mqtt_bridge:
    container_name: thermostat_2_mqtt_bridge
    image: rtzan/thermostat_2_mqtt_bridge:${IMAGE_TAG}
    restart: "unless-stopped"
    environment:
      "BRIDGE_TARGET_ENV": "${BRIDGE_TARGET_ENV:-DEV}"
      "BRIDGE_TUYA_DEV_ID": "${BRIDGE_TUYA_DEV_ID}"
      "BRIDGE_TUYA_DEV_IP": "${BRIDGE_TUYA_DEV_IP}"
      "BRIDGE_TUYA_DEV_LOCAL_KEY": "${BRIDGE_TUYA_DEV_LOCAL_KEY}"
      "BRIDGE_MQTT_BROKER_ADDR": "${BRIDGE_MQTT_BROKER_ADDR}"
      "BRIDGE_MQTT_BROKER_PORT": "${BRIDGE_MQTT_BROKER_PORT:-8883}"
      "BRIDGE_MQTT_USER": "${BRIDGE_MQTT_USER}"
      "BRIDGE_MQTT_PASSWORD": "${BRIDGE_MQTT_PASSWORD}"
      "BRIDGE_MQTT_TLS_PATH": "${BRIDGE_MQTT_TLS_PATH}"
    volumes:
      #- ./:/app
      - ${BRIDGE_LOGS_PATH}:/app/logs:cached
    ports:
      - "18000:18000"
    command: [ "python", "moes_thermostat_2_mqtt_bridge.py" ]
#==================================================================================================
#==================================================================================================